<!DOCTYPE html>

<html>
   <head>
      <title>Timestamp Microservice | Jacqueline Mason</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <h1>Timestamp Microservice Demo</h1>
    <hr />
    <div class="container">
      <h3>Example Usage:</h3>
      <ul>
        <li><a href="api/timestamp/2021-01-27">[project url]/api/timestamp/2021-01-27</a></li>
        <li><a href="api/timestamp/1451001600000">[project url]/api/timestamp/1451001600000</a></li>
      </ul>

      <h3>Example Output:</h3>
      <p>
        <code>{"unix":1451001600000, "utc":"Wed, 27 Jan 2021 00:00:00 GMT"}</code>
      </p>
    </div>
    <div class="footer">
      <p>
        By <a href="https://github.com/rookiebehaviour/jjmason-timestamp-demo">Jacqueline Mason</a>
      </p>
    </div>
  </body>
</html>
